<!-- Custom Fonts -->
<link href="fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


<!-- Header -->
<header class="fullscreen">
    <div class="container fullscreen">
        <div class="intro-text">
            <div class="intro-lead-in">Where to next?</div>
            <div class="intro-heading">For all your travel needs!</div>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services" class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Us?</h2>
                <div class="col-md-3 text-center"></div>
                <div class="col-md-6 text-center">    
                    <h3 class="section-subheading text-muted">We know that your disability goes on vacation with you, but that doesn't mean you can't have an awesome time. <i>We can't make it easy, but we can make it easier.</i></h3>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="fa fa-circle fa-stack-1x fa-inverse img-circle whyus" src="img/whyUs/dollar.png" alt="Money"></img>
                </span>
                <h4 class="service-heading">Expert advice doesn’t have to cost!</h4>
                <p class="text-muted">There’s no extra charge. When you book with Trippin’ with Jamie, you can know that we have done our best to get you top value. Our commission comes from our suppliers, so booking with us doesn’t mean you pay more for our services.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="fa fa-circle fa-stack-1x fa-inverse img-circle" src="img/whyUs/specialNeeds.jpg" alt="Special Needs"></img>
                </span>
                <h4 class="service-heading">We are certified in special needs travel!</h4>
                 
                <p class="text-muted">We are trained and certified to best prepare for those needing <b>special diets</b>, on the <b>autism spectrum</b>, needing <b>low-sensory environments</b>, in a <b>wheelchair</b>, with a <b>service dog</b>, or needing <b>allergy friendly accommodations</b>.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="fa fa-circle fa-stack-1x fa-inverse img-circle " src="img/whyUs/like3.jpg" alt="Money"></img>
                </span>
                <h4 class="service-heading">We tailor your experience!</h4>
                <p class="text-muted"> You are not just a name and a number to us. We value getting to know our clients and helping you create a wonderful travel experience.</p>
            </div>
        </div>
    </div>
</section>

<!-- Certifications Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Certifications</h2>
                <h3 class="section-subheading text-muted">Yep! We’ve got ‘em!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/sng1.jpg" class="img-responsive cert" id="cert" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Special Needs Travel Advocate</h4>
                    <p class="text-muted">Special Needs Group</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/royal.jpg" class="img-responsive cert" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Royal Caribbean - Expert Plus</h4>
                    <p class="text-muted">Royal Caribbean Cruises, Ltd</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/disney.jpg" class="img-responsive cert" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Disney Certified</h4>
                    <p class="text-muted">College of Disney Knowledge</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/princess.jpg" class="img-responsive cert" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Princess - Commodore</h4>
                    <p class="text-muted">Princess Cruises</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/avalon.jpg" class="img-responsive cert" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Avalon Waterways Specialist</h4>
                    <p class="text-muted">Globus</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/certifications/special.jpg" class="img-responsive cert" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Autism-Friendly Certified</h4>
                    <p class="text-muted">Royal Caribbean Cruises, Ltd</p>
                </div>
            </div>               
        </div>
    </div>
</section>

<!-- Blog Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Check out our Blog!</h2>
                <h3 class="text-muted">Don’t miss a single tip or trick during your planning!</h3><br>
                <a href="http://trippinwithjamie.blogspot.com/" class="page-scroll btn btn-xl">Check it out!</a>
            </div>
        </div>
    </div>
</section>

<!-- Deal Section -->
<section id="deals" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reason #47 why you should use a travel agent?</h2>
                <h3 class="text-muted">We have access to deals that you might not otherwise be able to see. Click here to see a sample of what is available!</h3><br>
                <a href="http://20031638.travsearch.com/" class="page-scroll btn btn-xl">Let's Go!</a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Background</h2>
                <h3 class="section-subheading text-muted">Where we are coming from.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Qualifications</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Jamie's got an <b> MBA in Finance </b> and has experience and training in deal with dollars. Additionally, a certified <b> Project Management Professional (PMP) </b>, she knows how to run projects (your vacation)</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Experience</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Between <b> running a research group </b> and time spent as a <b> Director at Fannie Mae </b>, 
                                Jamie has spent many years in risk management and governance </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Transition to an Educator</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Jamie was trained as an <b>educational therapist</b> and worked with students possessing learning differences. She has years of experience within the special needs community</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Volunteering</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Jamie's volunteering spans many special needs including working in a Hippotherapy program, providing support for a respite facility for families with children with intellectual disabilities and working with high risk youth </b></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-image   ">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Personal</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Jamie has taken many vacations with a family member with serious health issues -- she knows how to make memories with special needs. Her experience with health issues is more than simply profession, it's personal.</p>
                            </div>
                        </div>
                        
                    </li>                        
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Crew!</h2>
                <h3 class="section-subheading text-muted">You may or may not care who is behind Trippin’ with Jamie, but if you do, here we are!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/kylene1.jpg" class="img-responsive img-circle" alt="" id="portrait">
                    <h4>Kylene Boka</h4>
                    <p class="text-muted">Marketing Manager</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/jamie3.jpg" class="img-responsive img-circle" alt="" id="portrait">
                    <h4>Jamie Scheff</h4>
                    <p class="text-muted">Owner & Agent</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/trippinwithjamie?fref=ts"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/pub/jamie-scheff/5/283/756"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/d3.jpg" class="img-responsive img-circle" alt="" id="portrait">
                    <h4>Devon Peroutky</h4>
                    <p class="text-muted">Developer</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">All kidding aside, we are passionate about helping you find the best trip for your family and helping you make memories to last a lifetime.</p>
            </div>
        </div>
    </div>
</section>

<!-- Excursion Section -->
<section id="deals" class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Already have a Vacation Booked?</h2>
                <h3 class="text-muted">Spice it up with an adventure! Excursions can be super-duper fun. Take a look at what our partners can offer!</h3><br>
                <a href="http://www.shoreexcursionsgroup.com/Default.asp?Click=130317" class="page-scroll btn btn-xl">Let me try that</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Book a Vacation!</h2>                   
                <h3 class="text-muted"> Talk to us about how we can plan your next adventure: </h3>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" ng-submit="processForm()" validate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." ng-model="formData.name">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." ng-model="formData.email">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone" id="phone" data-validation-required-message="Please enter your phone number." ng-model="formData.phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Vacation *" id="message" required data-validation-required-message="Please enter a message." ng-model="formData.text"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl" id="send_email">{{button}}</button>
                        </div>
                        <h2 class="errorMessage" ng-show="message"> {{message}}</h2>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
